<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Categories">
        <setting id="list_limit" type="enum" default="3" values="10|25|50|75|99" label="Max number of cams per page" />
        <setting id="sort_by" type="enum" default="1" values="Ranking|Trending" label="Sort cam listing by ranking or trending" help="VIEWERS" />
    </category>
    <category label="Favourites">
        <setting id="fav_check_online_status" type="bool" default="true" label="Check online status (off = faster listing, less infos)"/>
        <setting id="fav_default_icon" type="bool" default="true" label="Show status icons instead of avatar for not public cams"/>
        <setting id="fav_path_backup" type="folder" source="files" option="writeable" default="" label="Backup/Restore path (file manager sources)"/>
        <setting id="fav_backup" type="action" label="Backup favourites" enable="true" option="close" action="RunPlugin(plugin://plugin.video.sc19/?tool=fav-backup)" />
        <setting id="fav_restore" type="action" label="Restore favourites" enable="true" option="close" action="RunPlugin(plugin://plugin.video.sc19/?tool=fav-restore)" />
    </category>
    <category label="Profile info">
        <setting id="ctx_show_all_albums" type="bool" default="true" label="Context menu - List restricted albums as well (just for info)"/>
        <setting id="ctx_show_all_videos" type="bool" default="true" label="Context menu - List restricted videos as well (trailer only)"/>
    </category>
    <category label="Stream options">
        <setting id="stream_player" type="enum" values="Default|InputStream FFmpegDirect" default="1" label="Stream player engine" />
        <setting id="use_variants" type="bool" default="false" label="Use variants (instead of best only quality) playlist" />
        <setting id="use_ffmpeg_timeshift" type="bool" default="false" label="Use FFmpegDirect timeshift" />
    </category>
    <category label="Proxy">
        <setting id="proxy_port" type="number" default="8099" label="Internal HLS proxy port (default = 8099)" />
        <setting id="pkey_key" type="text" default="" label="Playlist key selection (pkey)" help="Enter the pkey here" />
        <setting id="decode_key" type="text" default="" label="Playlist decode Key (pdkey)" help="Enter the decode key here" />
        <setting id="import_keys" type="action" label="Import keys from file (pkey:pdkey)" enable="true" option="close" action="RunPlugin(plugin://plugin.video.sc19/?tool=import-keys)" />
        <setting id="use_external_proxy" type="bool" label="Use external proxy instead (e.g. scp-standalone)" default="false" />
        <setting id="external_proxy_ip" type="text" default="" label="External proxy IP" />
        <setting id="external_proxy_port" type="number" default="8099" label="External proxy port (default = 8099)" />
    </category>
    <category label="Other">
        <setting id="del_thumbs_on_startup" type="bool" default="false" label="Delete thumbnails every time you open a list"/>
        <setting id="request_timeout" type="slider" label="Request Timeout - Time to wait for a response" option="int" range="1,1,30" default="5" />
        <setting id="cdn_choice" type="enum" default="1" values="doppiocdn.org|doppiocdn.net|doppiocdn.com" label="Choose CDN (may reduce network latency)" />
        <setting id="max_workers" type="slider" label="Max parallel connections for data fetching" option="int" range="1,1,20" default="10" />
    </category>
</settings>